In [1]:
import nltk

##### Download updated Packages of nltk

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

 #### Example
 ##### The below sentence is corpus

In [3]:
paragraph= "He is a good boy.  She is a good girl. boy & girl are good."
paragraph

'He is a good boy.  She is a good girl. boy & girl are good.'

##### Sentence Tokenization: Breaking the data into sentences

In [4]:
sentences= nltk.sent_tokenize(paragraph)
sentences

['He is a good boy.', 'She is a good girl.', 'boy & girl are good.']

##### Word Tokenization: Breaking the data into words

In [5]:
words=nltk.word_tokenize(paragraph)
words

['He',
 'is',
 'a',
 'good',
 'boy',
 '.',
 'She',
 'is',
 'a',
 'good',
 'girl',
 '.',
 'boy',
 '&',
 'girl',
 'are',
 'good',
 '.']

##### List of Stop Words
###### Stop words: Not useful for analysis (that means without that word also same output)

In [6]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

##### Stemming: Cutting into base word

In [7]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()
ps.stem('beautiful')

'beauti'

##### Lemmatization

In [8]:
from nltk.stem import WordNetLemmatizer
wnl=WordNetLemmatizer()
wnl.lemmatize('beautiful')

'beautiful'

## Text Cleaning
#### 1. Remove Punctuation
#### 2. Remove stopwords
#### 3. Stemming/Lemmatization

In [9]:
sentences= nltk.sent_tokenize(paragraph)
sentences[2]

'boy & girl are good.'

In [10]:
##REMOVING PUNCTUATION MARKS
corpus=[]
for i in range(3):
    import re
    l=re.sub('[^a-zA-Z]'," ",sentences[i])
    l=l.lower() ## Lower because stopwords are in lower so to remove them
                    ##  we are converting to lower
    l
    l=l.split()
## REMOVING STOP WORDS
    l=[i for i in l if i not in stopwords.words('english')]
    l=" ".join(l)
    corpus.append(l)
corpus

['good boy', 'good girl', 'boy girl good']

In [11]:
##REMOVING PUNCTUATION MARKS
corpus=[]
for i in range(3):
    import re
    l=re.sub('[^a-zA-Z]'," ",sentences[i])

    l=l.lower() ## Lower because stopwords are in lower so to remove them
                    ##  we are converting to lower
    l
    l=l.split()
## REMOVING STOP WORDS
    n=[]
    for k in l: 
        if k not in stopwords.words('english'):
## Stemming
            c=ps.stem(k)
            n.append(c)

    l=" ".join(n)
    corpus.append(l)
corpus
## The otherway of applying loop for removing stop words

['good boy', 'good girl', 'boy girl good']

## Vectorization
#### Count Vectorizer(Bag of Words)--> It counts the repetition no.of words in the given sentence

In [12]:
import pandas as pd

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
pd.DataFrame(cv.fit_transform(corpus).toarray(),
             columns=cv.get_feature_names_out())

   boy  girl  good
0    1     0     1
1    0     1     1
2    1     1     1

In [14]:
### To see columns names
cv.get_feature_names_out().tolist()

['boy', 'girl', 'good']

##### Tfid Vectorizer---> Gives or shows importance of each word

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf=TfidfVectorizer()

tf.fit_transform(corpus).toarray()

array([[0.78980693, 0.        , 0.61335554],
       [0.        , 0.78980693, 0.61335554],
       [0.61980538, 0.61980538, 0.48133417]])

In [18]:
tf.get_feature_names_out()

array(['boy', 'girl', 'good'], dtype=object)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
bow=pd.DataFrame(cv.fit_transform(corpus).toarray(),
             columns=cv.get_feature_names_out())
bow

   boy  girl  good
0    1     0     1
1    0     1     1
2    1     1     1

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf=TfidfVectorizer()

tfidf=pd.DataFrame(tf.fit_transform(corpus).toarray(),
             columns=tf.get_feature_names_out())
tfidf

        boy      girl      good
0  0.789807  0.000000  0.613356
1  0.000000  0.789807  0.613356
2  0.619805  0.619805  0.481334